

/* !!!!!!!!!길찾기버튼*/
/*media에서 hover상태가 지속되는 오류 잡기*/
/*마우스 hover가 가능한 pc상태의 경우*/
@media(hover:hover){
    .btn-primary{
        --bs-btn-color: #fff;
        --bs-btn-bg: #B6BBDA;
        --bs-btn-border-color: #B6BBDA;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg:  #969bba;
        --bs-btn-hover-border-color: #B6BBDA;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg:  #B6BBDA; 
        --bs-btn-active-border-color: #B6BBDA;
        --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg:  #B6BBDA;
        --bs-btn-disabled-border-color: #B6BBDA;
    }
}

@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

#checkbox_check{
    visibility: hidden;

}



/*카드*/
#card{
    z-index: 10;
    visibility: hidden;
}


/*지도위의 편의시설*/
#amenitiesOnMap{
    z-index: 2;
}
#amenitiesOnMap div{
    display: flex;
    visibility: hidden;
}

/* !!!!!!위의 창 nav*/
.navbar-custom{
    background-color: #163A63;
 }

/*사이드비*/
.mySidebar{
    width: 300px;
    border: 1px solid lightgray;
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
}
/*모바일사이드바*/
@media (max-width: 500px) {
    .mySidebar{
        width: 60%;
    }


}

/*media에서 hover상태가 지속되는 오류 잡기*/
/*마우스 hover가 가능한 pc상태의 경우*/
@media(hover:hover){
    .btn-primary{
        --bs-btn-color: #fff;
        --bs-btn-bg: #B6BBDA;
        --bs-btn-border-color: #B6BBDA;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg:  #969bba;
        --bs-btn-hover-border-color: #B6BBDA;
        --bs-btn-focus-shadow-rgb: 49,132,253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg:  #B6BBDA; 
        --bs-btn-active-border-color: #B6BBDA;
        --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg:  #B6BBDA;
        --bs-btn-disabled-border-color: #B6BBDA;
    }
}


/* !!!!!!햄버거 색상 변경
    bootstrap의 기존 아이콘 파일에서 색상만 변경:
    아래 url중 
    stroke='rgba%28_, _, _, _%29'의 _에 rgba 컬러 차트 찾아서 변경
*/
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28237, 237, 237, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar{
    --bs-navbar-toggler-focus-width: 0.15rem;
    

}


/*자동완성*/
.autocomplete {
    position: relative;
    display: inline-block;
    color:black ;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 101;
     top: 100%;
    left: 0;
    right: 0;
    max-height: 180px;
    overflow: auto;
}

.autocomplete-items div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
   background-color: DodgerBlue !important;
    color: #ffffff;
}



/*엘리베이터버튼*/
#elevatorCheck{
    visibility: hidden;
}

#elevatorUse{
    font-weight: 500;
    border: 1.25px solid lightgray;
}
#elevatorNoUse{
    display: none;
    font-weight: 500;
    border: 1.25px solid lightgray;
}

/*결과경로*/
#showRoute {
    visibility: hidden;
    color: #34495e;
    flex-grow:1;
    flex-direction: column;
    overflow: auto;
}

#timeText{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
#time{
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

