/*길찾기버튼*/
/*media에서 hover상태가 지속되는 오류 잡기*/
/*마우스 hover가 가능한 pc상태의 경우*/
.btnsubmit{
    --bs-btn-color: #fff;
    --bs-btn-bg: #2787F5;
    --bs-btn-border-color: #2787F5;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2787F5;
    --bs-btn-hover-border-color: #2787F5;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2580E8;
    --bs-btn-active-border-color: #2580E8;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #B6BBDA;
    --bs-btn-disabled-border-color: #B6BBDA;
}

@media (hover:hover){
    .btnsubmit:hover{
        
        background-color:#2580E8;
        border-color: #2580E8;
    }
}

.container-fluid{
    height: 5vh;
}



/*무슨 기능인지 확인 할 것*/
@keyframes gradient1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}







#checkbox_check{
    visibility: hidden;

}



/*카드*/
#card{
    z-index: 10;
    visibility: hidden;
}


/*지도위의 편의시설*/
#amenitiesOnMap{
    z-index: 2;
}
#amenitiesOnMap div{
    display: flex;
    visibility: hidden;
}

/*위의 창 nav*/


/*사이드바*/
.mySidebar{
    width: 300px;
    border: 1px solid lightgray;
    height: 94vh;
    position: absolute;
    z-index: 3;
    display: flex;
    background-color: #F6F9FB;
    border-top-style: hidden;
}
/*모바일사이드바*/
@media (max-width: 500px) {
    .mySidebar{
        width: 60%;
    }

    
}



/*상단바*/
.navbar{
    border-bottom: 1px solid #E5E9EF;
    --bs-navbar-color: rgba(0, 0, 0, 0);
}
.navbar-toggler{
    border: 1px solid transparent;
}



/*자동완성*/
.autocomplete {
    position: relative;
    display: inline-block;
    color:black ;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 101;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 180px;
    overflow: auto;
}

.autocomplete-items div {
    padding: 2px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}



/*엘리베이터버튼*/
#elevatorCheck{
    visibility: hidden;
}

#elevatorUse{
    font-weight: 500;
    border: 1.25px solid lightgray;
}
#elevatorNoUse{
    display: none;
    font-weight: 500;
    border: 1.25px solid lightgray;
}


.btn-group[id="elevatorCheck"]{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.btn-outline-primary{
    --bs-btn-color: gray;
    --bs-btn-border-color: #EBF1F7;
    --bs-btn-bg:#EBF1F7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #EBF1F7;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #FFF;
    --bs-btn-active-border-color: #EBF1F7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
    --bs-btn-border-width: 0.2rem;
}


/*결과경로*/
#showRoute {
    visibility: hidden;
    color: #34495e;
    flex-grow:1;
    flex-direction: column;
    overflow: auto;
}

#timeText{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}
#time{
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}




/*편의시설 버튼*/
@media (max-width: 395px){
    .btn-group{
        display: none;
    }
}

@media (min-width: 395px){
    .dropdown{
        display: none;
    }

    .btn-group{
        display: flex;
        flex-wrap: wrap;
    }    
}


.btn-outline-secondary{
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #FFC107;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-bg: #EBF1F7;
    --bs-btn-active-border-color: #EBF1F7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #6c757d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #6c757d;
    --bs-gradient: none;
    --bs-btn-bg: #fff;
    --bs-btn-active-color: #FFC107;
}

.btn-outline-warning{
    --bs-btn-color: gray;
    --bs-btn-border-color: #fff;
    --bs-btn-bg: #fff;
    --bs-btn-hover-color: gray;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #fff;
    --bs-btn-focus-shadow-rgb: 255,193,7;
    --bs-btn-active-color: #ffc107;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #fff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #ffc107;
    --bs-gradient: none;
    display: block;
}


.dropdown-menu{
    --bs-dropdown-min-width: 100%;
    --bs-dropdown-border-color: #fff;

}




/*버튼 가로 길이 변화*/
/*.btn-group{
    display: flex;
    flex-wrap: wrap;
}*/

/*@media (max-width: 391px){
    .btn-group1 {
        display: inline-grid;
    }
}*/

/*검색창 디자인*/
.form-control{
    background-color: #EBF1F7;
    border: 1px solid #EBF1F7;
}

[type=search] {
    text-align: center;
}